@{
    ViewBag.Title = "Projetos Realizados";
}

    <style>
        h2 {
            padding-top: 100px
        }
    </style>

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p><img src="~/Img/1372714624_github_circle_black.png" width="35" height="35" />Através da plaforma GitHub você consegue conferir alguns dos meus projetos realizados. Acesse <a href="https://github.com/mayaracferreira">https://github.com/mayaracferreira</a> para conferir!</p>


